.panel {
  float: right;
}

body {
  max-width: 800px;

}

}

.infoSports {
  display: none;
}

li img {
  max-height: 250px;
}

.infoLandmarks {
  display: none;
}

.infoHike {
  display: none;
}

.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}
